<h2 id="corporatesection">Corporate Partners</h2>

<div class="row">

    <div class="col-6 col-md-3 partner-cell">
        <a href="https://www.founderz.com" target="_blank" rel="noopener">
            <img src="img/founderzlogo.png" alt="Founderz" class="partner-logo">
        </a>
    </div>

    <div class="col-6 col-md-2 partner-cell">
        <a href="https://www.astrazeneca.com" target="_blank" rel="noopener">
            <img src="img/astrazeneca-logo.png" alt="AstraZeneca" class="partner-logo">
        </a>
    </div>

    <div class="col-6 col-md-2 partner-cell">
        <a href="https://www.barcelonactiva.cat" target="_blank" rel="noopener">
            <img src="img/barcelonaactiva-logo.png" alt="Barcelona Activa" class="partner-logo">
        </a>
    </div>

    <div class="col-6 col-md-2 partner-cell">
        <a href="https://www.educaixa.com" target="_blank" rel="noopener">
            <img src="img/educaixa-logo.png" alt="EduCaixa" class="partner-logo">
        </a>
    </div>

    <div class="col-6 col-md-2 partner-cell">
        <a href="https://mobileworldcapital.com/" target="_blank" rel="noopener">
            <img src="img/mwc-logo.png" alt="Mobile World Capital Barcelona" class="partner-logo">
        </a>
    </div>

    <div class="col-6 col-md-2 partner-cell">
        <a href="https://www.techbarcelona.com" target="_blank" rel="noopener">
            <img src="img/techbarcelona-logo.png" alt="Tech Barcelona" class="partner-logo">
        </a>
    </div>
</div>
