<!--- --->
<section class="page-section" id="friquiwhat">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">FriquiWhat?</h2>     
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted"> 
<p>
On June 2019 we launched FriquiFund Barcelona with the mission of supporting budding geeks (<i>friquis</i>, in Spanish) in developing their careers. 

<p>
Today we are more than 100 members and we have donated ~30,000€ to NGOs supporting young <a href="https://en.wikipedia.org/wiki/Science,_technology,_engineering,_and_mathematics">STEM</a> students in need.</div>

      </div>
    </div>
  </div>
</section>
