<!--- --->
<section class="page-section" id="friquiwhat">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">FriquiWhat?</h2>     
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted"> 
<p>
  <i>Friqui</i> means geek, in Spanish. For us it is a cheeky way to say: “people interested in pursuing careers in STEM”. 
  On June 2019 we launched FriquiFund Barcelona with the mission of supporting budding geeks (friquis) in developing their careers. FriquiFund members are all <i>friquis</i> too: professionals related to the STEM world, willing to donate time and money to our mission.

<p>
  Today we are more than 100 members and we have donated over 20,000€ to NGOs supporting young tech. students in need in Barcelona.</div>
      </div>
    </div>
  </div>
</section>
