<!--- --->
<section class="page-section" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mission</h2>     
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-justify">
        <div class="large text-muted"> 

          <p> 
<b>Our Mission:</b> We support young underprivileged geeks in developing their careers. Geeks (Friqui in Spanish) here is understood in a very narrow sense as: “people interested in pursuing careers in STEM”. FriquiFund members are all professionals related to the STEM world, willing to donate time and money to our mission.

          <p>
<b>Our Approch:</b> We support NGOs which support young underprivileged geeks: with cash donations, networking (internships, scholarships, teachers, jobs), mentoring and any other way we may think of.
          
          <p>
<b>Ongoing Efforts:</b> 
          <ul>
            <li>Currently we are collaborating with four NGOs: AEIRaval, IRES, MigraCode and Scientia. Check them out in our <a href="efforts.html">Efforts</a> page.
            <li>We are running an experimental Mentorship program (with 10 students)
            <li>We hold plenary meetings four times per year.
          </ul>


        </div>
      </div>
    </div>
  </div>
</section>
