<!--- --->
<section class="page-section" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mission</h2>     
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-justify">
        <div class="large text-muted"> 

          <p> 
<b>Our Mission:</b> We support young underprivileged geeks in developing their careers. Geeks (Friqui in Spanish) here is understood in a very narrow sense as: “people interested in pursuing careers in STEM”. FriquiFund members are all professionals related to the STEM world, willing to donate time and money to out mission.

          <p>
<b>Our Approch:</b> We support NGOs which support young underprivileged geeks: with cash donations, networking (internships, scholarships, teachers, jobs), mentoring and any other way we may think of.
          
          <p>
<b>Ongoing Efforts:</b> 
          <ul>
            <li>Currently we are collaborating with four NGOs: AEIRaval, IRES, MigraCode and Scientia. Check them out in our <a href="efforts.html">Efforts</a> page.
            <li>We are running an experimental Mentorship program (with 10 students)
            <li>We hold plenary meetings four times per year.
          </ul>

          <p> &nbsp; </p>

          <h4 class="section-heading">Original Announcement</h4>     

 <p>
  <b>FriquiFund BCN</b> is born with the mission to help young geeks, budding jedis, and white hat apprentices in need. 
Its members are old fart geeks who want to thank the Force for giving us the chance to do what we love.

  <p>
    <i>Friqui</i> is slang for geek in Catalan and Spanish. We live bitter-sweet times. 
  On the one hand old fart computer geeks like us enjoy unprecedented levels of opportunity (good employment and good salaries, fascinating technologies, interesting projects and what not). 
  On the other hand, our unique skills make us part of an economic elite which is displacing less fortunate people (increased cost of living, of education…). 
  And **the door is shutting down:** despite the internet and free flow of information, the democratizing force of geekness that we enjoyed is slowing down;
  it is becoming increasingly expensive to become a computer wizard in Barcelona. FrikiFund wants to help address this issue. We want to contribute towards the education costs of technical students in need and, beyond this, 
  help them with our time, experience and network, help motivate them through their studies and help them land good jobs and grow into forces of change. 
  We want to start locally, in Barcelona where we can help the most. 
  <p>
    We don’t need to look far: there are families walking distance from 22@ who 
  struggle to survive, children who don’t even dream of going to University, no matter what their skills. Young adults who rely on ancient laptops to 
  do their homework, and for whom battery failure means flunking a course. The Fundació IRES works with such youngsters, under the Click program, 
  with an office at the heart of 22@, helping them transition out of high school and into the workforce. Click relies on donations by the public 
  institutions, companies, and individuals like us, to provide “scholarships” (flat 1500€ fee per student per year to help cover the costs).
  We think we can work with Click in three ways: provide scholarships, help mentor students, and help them land internships and first jobs. 
  
  <p>
    So, let’s get started!
  </p>

        </div>
      </div>
    </div>
  </div>
</section>
