<!--	
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].team.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].team.text }}</h3>
	</div>
  </div>
-->



<h2 class="section-heading text-uppercase" style="margin-top: 80px">Leadership Team</h2>

<div class="layout_members">
	
  {% for person in site.data.team %}
    {% if person.leadership == "1" %}

	<div class="team-member ff-team-member">

		  <a href="{{ person.LinkedIn }}">
			<img class="mx-auto rounded-circle" src="/pics/{{ person.picfile }}.jpeg" alt="">
<!--			<i class="fab fa-linkedin-in"></i> -->
			<h4>{{ person.Name }}</h4> 
		  </a>

		<p class="text-muted ff-team-member-p" ><em>{{ person.Title }}</em></p>  
		<p class="text-muted ff-team-member-p ">{{ person.City}}</p>  
	</div>
    {% endif %}
  {% endfor %}

</div>

	
<!--
</div>
	
	<div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext[site.locale].team.subtext | markdownify }}</div>
	</div>
  </div>
</div>
-->
