<div class="team-member ff-team-member">
    {% if include.person.LinkedIn %}
    <a href="{{ include.person.LinkedIn }}">
        <img class="mx-auto rounded-circle" src="/pics/{{ include.person.picfile }}.jpeg" alt="">
        <!--i class="fab fa-linkedin-in"></i-->
        <h4>{{ include.person.Name }}</h4>
    </a>
    {% else %}
    <img class="mx-auto rounded-circle" src="/pics/noface.jpeg" alt="">
    <h4>{{ include.person.Name }}</h4>
    {% endif %}
    <p class="text-muted ff-team-member-p" ><em>{{ include.person.Title }}</em></p>
    <p class="text-muted ff-team-member-p ">{{ include.person.City}}</p>
</div>
