---
layout: page
title: About Us
permalink: /about-us
---

<h1> About Us </h1>

FriquiFund is funded through its members and corporate partners. We currently are {{ site.data.team.size }} members, working or tightly involved in IT, engineering and science sectors and with a strong attachment to Barcelona. <br /><br />

See below our <a href="#membersection"> Members</a> and <a href="#corporatesection"> Corporate Partners</a>.

<h2 id="leadershipsection" >Working Group</h2>

<div class="layout_members">
    {% for person in site.data.team %}
    {% if person["Can Share in Web"] != "No" and person.status == "1" %}
    {% include members/member.html person=person %}
    {% endif %}
    {% endfor %}
</div>

<h2 id="membersection">Members</h2>

<div class="layout_members">
    {% for person in site.data.team %}
    {% if person["Can Share in Web"] != "No" %}
    {% include members/member.html person=person %}
    {% endif %}
    {% endfor %}
</div>

<!--<h2 id="corporatesection">Corporate Partners</h2>
<div class="row" >
    <div class="col-md-6">
    <img src="img/luctalogo.png"  style="width:60%; padding-bottom:30px; padding-top:20px; "/></div>

    <div class="col-md-6" >
    <img src="img/founderzlogo.png" style="width:90%; padding-top:20px;"/></div>
</div>-->

{% include corporatepartners.html id='corporatesection' title='Corporate Partners' %}