<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <h2>Our mission is to support young STEM students in need</h2>
            <br />
            <div class="row">
                <div class="col-sm-4 home-header">
                    <span class="">Donated more than</span>
                    <span class="highlight">30,000€</span>
                    <span>to NGOs</span>
                </div>
                <div class="col-sm-4 home-header">
                    <span>Robotics program for</span><br />
                    <span class="highlight">100+ students</span><br />
                    <span>in high-complexity schools</span>
                </div>
                <div class="col-sm-4 home-header">
                    <span>Mentored</span>
                    <span class="highlight">10+ students</span>
                    <span>or connected to internship opportunities</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->
