<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <h2>Our mission is to support young STEM students in need</h2>
            <br />
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-sm-4 col-xl-3 home-header">
                    <span class="">Last year we donated </span>
                    <span class="highlight">{{ site.data.sitetext.yearly_donation }}</span>
                    <span> to {{ site.data.sitetext.n_donated_ngos }} NGOs</span>
                    <div class="row d-sm-none">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <hr style="border: .5px solid white;" />
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-3 home-header">
                    <span>Helped </span>
                    <span class="highlight">{{ site.data.sitetext.n_impacted_students }} students</span>
                    <span> in high-complexity schools</span>
                    <div class="row d-sm-none">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <hr style="border: .5px solid white;" />
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-4 home-header">
                    <span class="highlight">{{ site.data.team.size }} members</span>
                    <span>supporting our cause </span>
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->
