<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <h2>Our mission is to support young STEM students in need</h2>
            <br />
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-sm-4 col-xl-3 home-header">
                    <span class="">Yearly donation of </span>
                    <span class="highlight">25,000€</span>
                    <span> to 4 NGOs</span>
                    <div class="row d-sm-none">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <hr style="border: .5px solid white;" />
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-3 home-header">
                    <span>Robotics program for </span><br />
                    <span class="highlight">100+ students</span><br />
                    <span> in high-complexity schools</span>
                    <div class="row d-sm-none">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <hr style="border: .5px solid white;" />
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-xl-4 home-header">
                    <span>Mentored </span>
                    <span class="highlight">10+ students</span>
                    <span>, connected </span>
                    <span class="highlight">4</span>
                    <span> to jobs or internships</span>
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->
